@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
    max-width: 1366px;
    width: 86%; 
    margin: 0 auto;
  }

header .wrapper {
  display: flex;
  justify-content: space-between;
	align-items: center;
}

.logo { 
	margin: 2rem;
  font-size: 24px;    
  color: brown;
}

.logo:hover {
  color:chocolate;
  transition: .4s ease-in-out;
}

.nav-links li {
  padding: 0 20px;
  font-size: 20px;
}

.nav-links li a { color: brown; }

.nav-links li a:hover {
  color:chocolate;
  transition: .4s ease-in-out;
}

.hamburger { display: none; }
.bar { text-indent: -9999px; }

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  display: block;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

/* slider styling starts */
.slick img {height: 100vh;}

.slick-prev {
  left: 25px;
  z-index: 1;
}
		.slick-prev.active { z-index: 0;}

.slick-next {
	right: 40px;
}

.slick-next::before { content: url(/assets/images/308956_arrow_next_icon.png); }
.slick-prev::before { content: url(/assets/images/308957_arrow_previous_icon.png); }

.slick-dots { bottom: 0px; }

.slick-dots li button:before {
	color: crimson;
	font-size: 15px;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: #fff;
}
/* slider styling ends */

.section-heading {
	font-size: 24px;
	text-align: center;
}

.section-content {
	font-size: 20px;
	padding: 15px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 32.66%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card {
  margin: 0 1% 20px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card:nth-child(3n) { margin-right: 0; }

.card-heading {
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.card-info { padding: 20px; }

.card-desc { font-size: 18px; }

@media only screen and (max-width: 1024px){
  .hamburger { 
		display: block; 
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) { opacity: 0;}
	.hamburger.active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg);}
	.hamburger.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg);}
	
	.nav-links { display: none; }

	.nav-links {
    width: 100%;
    max-height: calc(100% - 50px);
    min-height: 100vh;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 80px;
    left: 100%;
    background-color: #101010;
    -webkit-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
    overflow-y: auto;
  }

  .nav-links.active { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    left: 0; 
  }

	.nav-links.active a { padding: 40px; }
	body.hide-scroll {overflow-y: hidden;}
	.slick img {height: 50vh;}
}

@media only screen and (max-width: 767px) {
  .section-content { font-size: 16px; }
	.cards { flex-direction: column; }
}

@media only screen and (max-width: 480px) {
	.logo { font-size: 14px; }
}
